<% layouts = Dir.entries(Rails.root.join("app", "views", "layouts")).keep_if { |i| i =~ /.html.erb$/ }.each{|i| i.slice! ".html.erb"} %>

<%= semantic_form_for [:admin, resource] do |f| %>
  <%= f.inputs "Основное" do %>
    <%= f.input :slug, label:'Псевдоним для seo' %>
    <%= f.input :hidden, label:"Скрыть пункт меню" %>
    <li class="input optional overflow">
      <%= f.label :preview_image, 'Шаблон для страницы' %>
      <%= f.collection_select :layout, layouts, :to_s, :to_s, :prompt => "Select a Country" %>
    </li>
  <% end %>

  <div class="globalize-inputs globalize-content">
    <%= f.globalize_inputs :translations do |lf| %>
      <%= lf.inputs do %>
        <%= lf.input :name, input_html: {rows:1}, label: 'Заголовок страницы' %>
        <%= lf.input :content, as: :ckeditor, label: 'Контент' %>

        <%= lf.input :locale, :as => :hidden %>
      <% end %>
    <% end %>
  </div>


  <%= f.semantic_fields_for :seo do |j| %>
    <div class="globalize-inputs globalize-seo">
      <%= j.globalize_inputs :translations do |lf| %>
        <%= lf.inputs do %>
          <%= lf.input :title, input_html: {rows:1} %>
          <%= lf.input :keywords, input_html: {rows:1} %>
          <%= lf.input :description, input_html: {rows:1} %>

          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= f.actions %>
<% end %>
