<header class="header">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span12">
        <nav class="header-menu">
          <ul>
            <li class="item-1 <%= cp(root_path) %>"><%= link_to content_tag(:span,'Проекты'), root_path %></li>
            <% Page.all.each do |page| %>
              <% unless page.hidden? %>
              <li class="item-<%= (page.id+1).to_s %> <%= cp(alias_path(page)) %>"><%= link_to content_tag(:span,page.title), alias_path(page) %></li>
              <% end %>
            <% end %>
          </ul>

        </nav>
        <%= link_to image_tag("logo.png", :alt => 'BalticIT'), root_path, class:'header-logo' %>
      </div>
    </div>
  </div>
</header>
