<header class="header">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span12">
        <nav class="header-menu">
          <ul>
            <% Page.all.each do |page| %>
              <% unless page.hidden? %>
                <% if page.slug == 'index' %>
                  <li class="item-<%= (page.id).to_s %> <%= cp(root_path) %>">
                    <%= link_to content_tag(:span, page.name), root_path %>
                  </li>
                <% else %>
                  <li class="item-<%= (page.id).to_s %> <%= cp(slug_path(page)) %>">
                    <%= link_to content_tag(:span, page.name), slug_path(page) %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </nav>
        <%= link_to image_tag("logo.png", :alt => 'BalticIT'), root_path, class: 'header-logo' %>
      </div>


    </div>
  </div>
</header>
