<div class="span3 portfolio-item <%= first_class %>" data-id="<%= project.id %>">
  <a href="#" class="portfolio-link">
    <%= image_tag project.preview_image.thumb if project.preview_image? %>
    <div class="portfolio-deg">
      <p class="portfolio-text">
        <strong class="portfolio-name"><%= project.name %></strong>
        <span class="portfolio-desc"><%= project.intro %></span>
      </p>
      <div class="portfolio-deg-after" style="background:<%= project.preview_background %>">
      </div>
    </div>
  </a>
</div>
