<div class="span3 portfolio-item <%= first_class %>" data-id="<%= project.id %>">
  <a href="#<%#= project_path(project.id)  %>" class="portfolio-link">
    <%= image_tag project.background.thumb('226x190#').url if project.background_uid %>
    <div class="portfolio-deg">
      <p class="portfolio-text">
        <strong class="portfolio-name"><%= project.title %></strong>
        <span class="portfolio-desc"><%= project.content %></span>
      </p>
      <div class="portfolio-deg-after" style="background:<%= project.preview_background %>">
      </div>
    </div>
  </a>
</div>
